body{
    align-items: center;
    display: flex;
    flex-direction: column;
    color: white;
}

#logout, #setting, #home {
    float: right;
    border-radius: 15px;
    background-color: #C72B32;
    padding: 8px;
    color: white;
    cursor: pointer;
    margin: 0 5px;
}

#logout:hover, #setting:hover, #home:hover {
    background-color: rgb(41, 25, 26);
    cursor: pointer;
}

#navmsg {
    flex-grow: 1;
    text-align: center;
    font-size: 1.5em;
}

#loginpagenav {
    background-color: #205A28;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    width: 90%;
    height: 50px;
    align-content: center;
    border-radius: 20px;
    padding: 0 20px;
}

.buttons {
    text-align: center;
    background-color: #C72B32;
    border-radius: 25px;
    padding: 15px;
    color: white;
}

.buttons:hover {
    background-color: rgb(41, 25, 26);
    cursor: pointer;
}

#buttonscont {
    display: flex;
    flex-direction: column;
}

#admin {
    width: 170px;
}

.footer {
    background-color: #205A28;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 50px;
}

@media(max-width: 600px) {
    #loginpagenav {
        display: block;
        width: 100%;
        text-align: center;
        padding: 10px 0;
        margin-bottom: 65px;
    }

    #navmsg {
        font-size: 1.2em;
        margin-bottom: 10px;
    }

    #logout, #setting, #home {
        display: block;
        width: 100%;
        margin: 5px 0;
        text-align: center;
    }

    #buttonscont {
        flex-direction: column;
        align-items: center;
    }

    #admin {
        width: 100%;
        max-width: 170px;
        margin: 10px 0;
    }
}
